#header {
border: 1px solid;
height: 100px;
width: 1000px;
background-color: rgb(158, 0, 0);
position: absolute;
top: 15%;
left: 15%;
border-radius: 5px;
}

#maincontent{
border: 2px solid;
border-radius: 5px;
height: auto;
width: 60%;
background-color: #bbef61;
position: absolute;
top: 31%;
left: 23.5%;
text-align: center;
z-index: 10;
display: visible;
}

#maincontent img{
padding: 10px;
width: 200px;
}

#artcontent{
border: 2px solid;
border-radius: 5px;
height: auto;
width: 60%;
background-color: #0a3757;
position: fixed;
top: 31%;
left: 23.5%;
text-align: center;
z-index: 9;
display: none;
}


#sidetabs{
border:  solid;

height: auto;
width: 100px;
background-color: rgb(255, 255, 255);
position: absolute;
top: 31%;
left: 15%;
z-index: 1;
}

#tabs{
border: 1px solid;
height: 40px;
background-color: rgb(255, 255, 255);
width: 100px;
text-align: center;
padding-top: 10px;
}

body {
font-family: "Monaco", "Courier New", monospace;
background-color: #bbef614e;
}

#waves{
position: fixed;
top: 80%;
left: -15%;
width: 150%;
}

#forgetmenot1{
position: fixed;
top: -120px;
left: -160px;
transform: rotate(100deg);

}

#forgetmenot2{
position: fixed;
top: -40px;
left: 1300px;
transform: rotate(240deg);
}

#gardenia{
position: fixed;
top: 300px;
left: -200px;
transform: rotate(70deg);
}

#petunias{
position: fixed;
top: 300px;
left: 1250px;
transform: rotate(80deg);
}